.comments{
    position: relative;
    display: flex;
    background-color: #ffffff;
    font-size:13px;
    padding:9px 6px 7px;
    border-collapse : collapse;
    margin-top:-1px;
    border:1px solid #ddd;
}
.comments_contents{
    position:relative;
    cursor: pointer;
    width:80%;
    left:100px;
}
.reply{
    position: relative;
    display: flex;
    padding:9px 6px 7px;
    font-size:13px;
    background-color: #ddd;
    margin-top:-1px;
    border:1px solid #ccc;
}

.reply_input{
    height: 65px;
    resize:none;
}
.reply_input_button{
    position:relative;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    right:0%;
    height:fit-content;
    width: fit-content;
}
.reply_form{
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    border:1px solid #ccc;
    height:80px;
    padding:9px 6px 7px;
    z-index:99;
    margin-top:-1px;
}
.comments_nickname{
    position:relative;
    width:fit-content;
    text-align: left;
}
.comments_create_at{
    position: relative;
    display:block;
    text-align: right;
    margin-right: 8px;
}
.comments_create{
    position:relative;
    display:flex;
    background-color: #ddd;
    top:0;
    width:500px;
}
.comment_create_input{
    position: relative;
    top:0px;
    resize:none;
    width:800px;
}
.comment_create_button{
    position:relative;
    background-color: skyblue;
    margin-top: 4px;
    border: 0px;
    height: 60px;
    width:180px;
    cursor:pointer;
}
.comments_delete_button{
    position:relative;
    display: inline;
}
.hidden{
    display:none;
}