.detail{
    position:relative;
    display:block;
    left:350px;
    width:calc(100% - 700px);
}
.title{
    font-size: 16px;
    font-weight: 700;
}
.userData{
    position: relative;
    font-size: 16px;
    font-weight: 500;
}
.userData_nickname{
    position:relative;
    display:inline;
}
.userData_nickname::after{
    content: "";
    position: absolute;
    display:block;
    color:#333;
    top:5px;
    left:100%;
    margin:0px 10px ;
    height:14px;
}
.userData_createAt{
    position:relative;
    display:inline;
}
.contents{
    resize: none;
    position: relative;
    top:16px;
    width:100%;
    left:0px;
    font-size: 13px;
    cursor:default;
    border: none;
}
.contents:focus{
    outline: none;
}

.comments_create{
    position:relative;
    display:flex;
    background-color: #ddd;
    height:100px;
    padding: 9px 6px 7px;
    margin-bottom: 20px;
}
.comment_create_input{
    position: relative;
    top:0px;
    resize:none;
    width:84%;
}
.comment_create_button{
    position:relative;
    background-color: skyblue;
    border: 0px;
    height: 100px;
    width:180px;
    cursor:pointer;
}
.ddd{
    background-color: #ddd;
    cursor:text;
}
.forum_delete{
    position: absolute;
    display: block;
    top:680px;
    right: 0px;
}
.forum_update{
    position: relative;
    display: block;
    left: 0px;
    margin: 20px 0px;
}
.comments{
    position: relative;
    display: inline-block;
    width:1160px;
    background-color: #ffffff;
    font-size:13px;
    padding:9px 6px 7px;
    border-collapse : collapse;
    margin-top:-1px;
    border:1px solid;
}
.comments_contents{
    position:relative;
    width:820px;
    left:100px;
}
hr{
    top:10px;
    position: relative;

}
.reply{
    position: relative;
    width:1160px;
    padding:9px 6px 7px;
    font-size:13px;
    background-color: #ddd;
    margin-top:-1px;
    border:1px solid;
}
.hidden{
    display:none;
}
.reply_form{
    position:absolute;
    z-index:99;
}
.comments_nickname{
    position:relative;
    width:100px;
    text-align: left;
}
.comments_create_at{
    position: relative;
    display:block;
    left:140px;
    text-align: right;
}
.loading{
    position: absolute;
    background-color: black;
    top:0;
    opacity: 30%;
    z-index: 100;
    width:100%;
    height:100%;
}