.header{
    position: relative;
    display:flex;
    left:330px;
    justify-content:space-between;
    height:120px;
    width:calc(100% - 660px)
}
.header_bar{
    position: relative;
    background-color: #3b4890;
    width:100vw;
    height:45px;
    margin-bottom: 18px;

}
.header_links{
    display: flex;
}
.col{
    flex-direction: column;
}
.header_links>*{
    margin-left: 10px;
}
.header_title{
    position: relative;
    text-decoration: none;
    top:30%;
    font-size:32px;
    margin:0px;
}