.header{
    position: relative;
    display:flex;
    left:330px;
    justify-content:space-between;
    height:120px;
    width:calc(100% - 660px)
}

.header_bar{
    position: relative;
    background-color: #3b4890;
    width:100vw;
    height:45px;
    margin-bottom: 18px;

}
.header_links{
    position: relative;
    display: flex;
    background-color: gray;
    border-radius: 30px;
    right:30px;
    top:50px;
    z-index: 100;
}
.col{
    flex-direction: column;
}
.header_links>*{
    margin-left: 10px;
}
.header_title{
    position: relative;
    text-decoration: none;
    top:30%;
    font-size:32px;
    margin:0px;
}
.userDropMenuBtn{
    position:absolute;
    left:95%;
}
.hidden{
    display: none;
}