@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.boards{
    position: relative;
    width:calc(100% - 700px);
    left:350px;
    right:350px;
    font-size: 14px;
    animation-name: fadein;
    animation-duration: 1.5s;
}
.header{
    display:flex;
    position: absolute;
    justify-content:space-between;
    background-color: #4c87ee;
    left:350px;
    right:350px;
    height:120px;
}
.boards_content_List{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.boards_content_List_header{
    position: relative;
    background-color: #F9F9F9;
}

.boards_content_List_header_tr > *{
    position: relative;
}

.boards_content_List_header_tr > *::after{
    content: "";
    position: absolute;
    display:block;
    color:#cecece;
    left:100%;
    top:10px;
    height:14px;
    border-right: 1px solid;
}

.header_title{
    position: relative;
    top:30%;
    left:20px;
    font-size:24px;
    margin:0px;
    
}

.boards_content_List>*{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.boards_contents_List_body_tr_title_link{
    text-decoration: none;
}
.boards_content_List_header_no{
    width:80px;
    padding: 8px 14px;
    text-align: center;
}
.boards_content_List_header_title{
    width:760px;
    padding: 8px 14px;
    font-weight:400;
    text-align: left;
}
.boards_content_List_header_title:nth-child(1):hover{
    text-decoration:underline solid rgb(0, 79, 168);
}
.boards_content_List_header_writer{
    width:120px;
    padding: 8px 14px;
    text-align: center;
}
.boards_content_List_header_createAt{
    width:120px;
    padding: 8px 14px;
    text-align: center;
}
.boards_content_List_body_viewCount{
    width:120px;
    padding: 8px 14px;
    text-align: center;
}

.boards_content_List_body_tr_no{
    width:80px;
    padding: 8px 14px;
    text-align: center;  
}
.boards_content_List_body_tr_title_link{
    text-decoration: none;
}
.boards_content_List_body_tr_writer{
    width:100px;
    padding: 8px 14px;
    text-align: center;
}
.boards_content_List_body_tr_createAt{
    width:80px;
    padding: 8px 14px;
    text-align: center;
}
.boards_content_List_body_tr_viewCount{
    width:60px;
    padding: 8px 14px;
    text-align: center;
}

.container{
    position:relative;
    top:20px;
    left:calc(50% - 220px);
    width:fit-content;
    display: flex;
    flex-direction: row;
}
.container>div{
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.container>*:hover{
    background-color: #e4e4e4;
    border-radius: 14px;
    cursor:pointer;
}
.left_icon{
    width:40px;
    height:40px;
}
.right_icon{
    width:40px;
    height:40px;
}
.selectPage{
    background-color: #e4e4e4;
    border-radius: 14px;
}
.header_message{
    display: inline;
}
.boards_content_List_header_viewCount::after{
    display: none;
}
.hidden{
    display: none;
}