.id{
    position: relative;
    display: block;
    height:46px;
    width:100%;
    margin-top: 8px;
    padding: 0px;
    border:1px solid #d6d6d6;
}
.password{
    position: relative;
    display: block;
    height:46px;
    width:100%;
    margin-top: 8px;
    border:1px solid #d6d6d6;
    padding: 0px;
}
.submit{
    position:relative;
    display:block;
    background: #4c87ee;
    width:calc(100% + 2px);
    
    color:white;
    height:54px;
    font-size: 19px;
    margin-top: 8px;
    border:0px
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    top:100px;
    left:calc(50% - 250px);
    width:500px;
}
.googleLogin{
    position: relative;
    color:red;
    width:50px;
    height:50px;
    background-color: #4c87ee;
    margin-top: 24px;
}